{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | LibraLink</title>
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    {% tailwind_css %}
</head>
<body class="bg-stone-200">
    <nav class="py-4 bg-slate-950 px-5 lg:px-16 flex justify-between items-center drop-shadow-xl">
        <a href="/" class="text-xl lg:text-3xl text-white">LibraLink</a>
        <button id="menu-btn" class="text-white lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
        </button>
        <div id="nav-links" class="hidden lg:flex flex-col lg:flex-row items-center lg:items-center space-y-5 lg:space-y-0 lg:space-x-4">
            <a href="{% url 'book:list_books' %}" class="text-white hover:text-stone-300">Books</a>
            <a href="{% url 'patron:patron_list' %}" class="text-white hover:text-stone-300">Patrons</a>
            <a href="{% url 'transaction:transaction_list' %}" class="text-white hover:text-stone-300">Transactions</a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'core:logout' %}" class="bg-stone-600 py-2 px-4 rounded text-white hover:bg-stone-800">Logout</a>
            {% endif %}
        </div>
    </nav>
    <main class="px-5 lg:px-16 min-h-screen">{% block content %}{% endblock %}</main>
    <footer class="bg-slate-900 py-4">
        <p class="px-5 lg:px-16 text-white">
            © 2024 LibraLink | Designed and Developed by Riza May Largadas
        </p>
    </footer>
    <script>
        document.getElementById('menu-btn').addEventListener('click', function() {
            var links = document.getElementById('nav-links');
            if (links.classList.contains('hidden')) {
                links.classList.remove('hidden');
                links.classList.add('flex');
            } else {
                links.classList.add('hidden');
                links.classList.remove('flex');
            }
        });
    </script>
</body>
</html>
